<div
  class="text-selection"
  ng-class="[$ctrl.selectedColor]"
>
  <marker-button-set
    color-list="$ctrl.colorList"
    on-click="$ctrl.onSelectMarker(color)"
  >
  </marker-button-set>
  <selectable-text
    init-text="$ctrl.initText"
    color-list="$ctrl.colorList"
    selected-color="$ctrl.selectedColor"
    on-selection="$ctrl.onTextSelected(selectionList)"
  ></selectable-text>
</div>
<div class="filter-section">
  <marker-button-set
    color-list="$ctrl.colorList"
    on-click="$ctrl.showSelection(color)"
  ></marker-button-set>
  <input
    type="radio"
    ng-model="$ctrl.filterOrder"
    ng-click="$ctrl.sortBy(null)"
    value="original"
    name="original"
  ><label for="original">Original order</label>
  <input
    type="radio"
    ng-model="$ctrl.filterOrder"
    ng-click="$ctrl.sortBy(true)"
    value="asc"
    name="asc"
  >
  <label"asc" for=>ASC</label>
    <input
      type="radio"
      ng-model="$ctrl.filterOrder"
      ng-click="$ctrl.sortBy(true, true)"
      value="desc"
      name="desc"
    ><label "desc" for=>DESC</label>
    <div class="filter-section__results">
      <span
        ng-repeat="word in $ctrl.wordList track by $index"
        ng-class="['filtered-word--' + $ctrl.selectedColorFilter]"
      >{{word}}<br></span>
    </div>
</div>