<div class="text-selection">
  <marker-button-set on-click="$ctrl.onSelectMarker(color)">
  </marker-button-set>
  <selectable-text
    selection-color="$ctrl.selectedColor"
    on-text-selected="$ctrl.onTextSelected(selectionList)"
  ></selectable-text>
  <marker-button-set on-click="$ctrl.showSelection(color, wordList)"></marker-button-set>
  <div class="filter-words">
    <span
      ng-repeat="word in $ctrl.wordList"
      ng-class="{'filtered-word--'+$ctrl.selectedColor}"
    >{{word}}</span>
  </div>
</div>