<div
  class="text-selection"
  ng-class="[$ctrl.selectedColor]"
>
  <marker-button-set
    color-list="$ctrl.colorList"
    on-click="$ctrl.onSelectMarker(color)"
  >
  </marker-button-set>
  <selectable-text
    init-text="$ctrl.initText"
    color-list="$ctrl.colorList"
    selected-color="$ctrl.selectedColor"
    on-selection="$ctrl.onTextSelected(selectionList)"
  ></selectable-text>
</div>
<div class="filter-section">
  <marker-button-set
    color-list="$ctrl.colorList"
    on-click="$ctrl.showSelection(color)"
  ></marker-button-set>
  <div class="filter-section__results">
    <span
      ng-repeat="word in $ctrl.wordList track by $index"
      ng-class="['filtered-word--' + $ctrl.selectedColorFilter]"
    >{{word}}<br></span>
  </div>
</div>