selectable-text {
  display: block;
  font-size: 1rem;
  max-width: 700px;
  span {
    &.red { background-color: red;}
    &.yellow { background-color: yellow;}
    &.green { background-color: green;}
  }
}