marker-button-set {
  display: inline-block;
  .marker-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 2px solid rgba(0, 0, 0, 0);
    &.marker-button--active {
      border-color: #000;
    }
    &.marker-button--red {
      background-color: red;
    }
    &.marker-button--yellow {
      background-color: yellow;
    }
    &.marker-button--green {
      background-color: green;
    }
  }
}